<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="android.easyphone"
      android:versionCode="1"
      android:versionName="1.0">
    
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"></uses-sdk>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.MODIFY_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        
        <activity android:name=".easyphone"
                  android:label="@string/app_name" 
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	    <activity android:name=".IncomingCall" 
	    			android:noHistory="true" 
	    			android:label="@string/app_name" 
	    			android:screenOrientation="portrait"
	    			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		    <intent-filter>
		        <action android:name="android.intent.action.ANSWER" />
		        <action android:name="android.easyphone.CLOSE_INCOMINGCALL_ACTIVITY" />
		        <category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>
	    </activity>
	    
		<activity android:name=".InCall" 
					android:screenOrientation="portrait"
					android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
		        <action android:name="android.easyphone.CLOSE_INCALL_ACTIVITY" />
		        <action android:name="android.easyphone.action.INCALL" />
		    </intent-filter>
		</activity>
		
		<activity android:name=".ContactList" 
					android:screenOrientation="portrait"
					android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		</activity>
		
		<activity android:name=".EasyPhoneActivity" 
					android:screenOrientation="portrait"
					android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		</activity>
		
		<receiver
		    android:name=".StartEasyPhoneAtBootReceiver"
		    android:enabled="true"
		    android:exported="false"
		    android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
		    android:label="StartEasyPhoneAtBootReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		        <category android:name="android.intent.category.HOME" /> 
		    </intent-filter>
		</receiver>
		
		<receiver android:name=".PowerConnectionManager">
		  <intent-filter>
		    <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
		    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
		  </intent-filter>
		</receiver>

		<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		
	</application>

	<receiver android:name=".CallControl">
		<intent-filter android:priority="99999">
	    	<action android:name="android.intent.action.PHONE_STATE" />
	    </intent-filter>
	</receiver>

</manifest> 